@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

body {

    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Geom", sans-serif;

}

.formTag {

    width: 50vw;
    height: 70vh;
    border-radius: 10px;
    text-align: center;
    background-image: radial-gradient(circle 490.7px at 3.1% 21.8%, rgba(82, 6, 135, 1) 0%, rgba(22, 1, 34, 1) 100.3%);




}




input {

    width: 25vw;
    height: 5vh;
    border: 3px solid lightgray;
    border-radius: 10px;
    margin-top: 50px;
    padding: 5px;


}




.btn-grad {
    margin-left: 10px;
    background-image: linear-gradient(to right, #41295a 0%, #2F0743 51%, #41295a 100%)
}

.btn-grad {
    padding: 12px 25px;
    text-transform: capitalize;
    text-align: center;

    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


.getResponse {

    background-color: white;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    /* margin-left: 150px; */


}

h1 {

    color: white;
    margin: 0;
    margin-top: 10px;
}

@media screen and (max-width:600px) {

    .btn-grad {

        margin-top: 10px;
        padding: 5px 20px;


    }

    .formTag {

        height: 100vh;
    }


    span {

        text-align: center;
        margin-left: 80px;
    }


}


span {

    color: red;
    display: none;
    margin-right: 130px;

}