@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

body {

    margin: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Geom", sans-serif;
    background-image: radial-gradient(circle 490.7px at 3.1% 21.8%, rgba(82, 6, 135, 1) 0%, rgba(22, 1, 34, 1) 100.3%);


}

.formTag {

    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    text-align: center;





}




input {

    width: 35vw;
    height: 5vh;
    border: 3px solid lightgray;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;


}




.btn-grad {
    margin-left: 10px;
    background-image: linear-gradient(to right, #41295a 0%, #2F0743 51%, #41295a 100%)
}

.btn-grad {
    padding: 12px 25px;
    text-transform: capitalize;
    text-align: center;

    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.getResponse {

    color: white;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    line-height: 1.5;
    margin-top: 30px;
    /* margin-left: 150px; */



}


.formTag h1 {
    margin-top: 100px;

    color: white;
    text-align: center;
    font-size: 2rem;
}








.colorChange {
    background-color: white;
    flex-wrap: wrap;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    height: 400px;
    width: 600px;
    justify-items: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


















@media screen and (max-width:600px) {

    .btn-grad {

        margin-top: 10px;
        padding: 5px 20px;


    }




    span {

        text-align: center;
        margin-left: 80px;
    }


}


span {

    color: red;
    display: none;
    margin-right: 130px;

}